.navbar {
  box-sizing: border-box;
  background-color: white;
  display: block;
  width: 100%;
  padding: 1rem;
  position: fixed;
}

.navbar__logo img {
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  color: #555;
  width: 50%;
  text-align: center;
  height: 4rem;
}

.navbar__contact {
  display: inline-block;
  vertical-align: middle;
  color: #555;
  width: 50%;
  margin-bottom: .5rem;
  text-align: center;
}

.navbar__icon {
  color: blue;
  margin-right: 1rem;
  font-size: .875rem;
  display: inline-block;
}

.navbar__icon btn {
  border-radius: 9999px;
  border-color: #000000;
  border-width: solid;
  cursor: pointer;
}

.navbar__icon button {
  border-radius: 9999px;
  background-color: rgb(132, 130, 238);
  color: white;
}

.br-100 {
  border-radius: 100%;
}


.link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link, .link:visited {
  transition: color .15s ease-in;
}

.link:hover {
  transition: color .15s ease-in;
}

.link:active {
  transition: color .15s ease-in;
}

.link:focus {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}


.dim {
  opacity: 1;
  transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
}

.dim:active {
  opacity: .8;
  transition: opacity .15s ease-out;
}

@media screen and (min-width: 60em) {
  .dt-l {
      display: table;
  }

  .dtc-l {
      display: table-cell;
  }

  .w-25-l {
      width: 25%;
  }

  .w-75-l {
      width: 75%;
  }

  .ph5-l {
      padding-left: 4rem;
      padding-right: 4rem;
  }

  .mr4-l {
      margin-right: 2rem;
  }

  .mb0-l {
      margin-bottom: 0;
  }

  .tl-l {
      text-align: left;
  }

  .tr-l {
      text-align: right;
  }

  .f5-l {
      font-size: 1rem;
  }
}

.landing {
  z-index: -20;
}

  .landing--inner {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
    text-align: left;
    vertical-align: middle;
}

.landing--inner h2 {
   font-size: 4em;
   color: rgb(132, 130, 238);
}

.landing .landing--inner h2 span {
  color: gray;
}

.landing--inner h4 {
  font-family: Helvetica;
  font-size: 1.125em;
  font-weight: bold;
  padding: 2px;

}

  .landing--outer {
      background-color: white;
      padding-top: 2rem;
      text-align: center;
  }

  @media screen and (min-width: 30em) {
      .dt-ns {
          display: table;
      }

      .dtc-ns {
          display: table-cell;
      }

      .dt--fixed-ns {
          table-layout: fixed;
          width: 100%;
      }
  }

  .button {
    border-radius: 9999px;
    display: inline-block;
    background-color: rgb(132, 130, 238);
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: .5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform .25s ease-out;
  }

  .landing--outer img {
    margin-top: 5em;
    max-width: 500px;
    max-height: 600px;
  }

  p  h5 {
    margin: 2px;
    padding: 0.5em;
    font-size: 1rem;
  }



  a,
  a:visited,
  a:hover {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }


  /* Responsive Styles */


.whyVersa__intro {
  text-align: center;
  justify-content: center;
  width: 100%;
}

 h2 {
  color:  rgb(132, 130, 238);
  width: 100%;
  font-size: 3em;
}

.whyVersa__intro h3 {
  width: 100%;
  font-size: 1.25em;
}

.whyVersa__body {
  flex-direction: row;
}

.whyVersa__body img {
  max-width: 50px;
  max-height: 50px;
}

.whyVersa__body .outline {
  width: 30%;
  float: left;
  text-align: center;
  margin-right: 1rem;
  padding: 0.75rem;}

.investment {
  clear: both;
  background-color: blue;
  width: 100%;
  color:white;
  display: flex;
}

.investment__body {
  width: 50%;
  padding: 2em;
}

.investment__body span{
  margin-left: 0.5rem;
  font-size: 2em;
  font-weight: bold;
}

p {
  padding: 1rem;
  font-size: 1.30em;
  text-align: left;
}


.investment__img {
  width: 50%;
  margin-top: 5em;

}

.investment__img img {
  max-width: 400px;
  max-height: 500px;
}


.portfolios {
  text-align: center;
  justify-content: center;
  width: 100%;
  background-image: url(C:\Users\Ihuoma\training\Versa\src\assets\investment-strategy.svg);
}

.portfolios header {
  color:  rgb(132, 130, 238);
  width: 100%;
  font-size: 2.5em;
  margin: 1.5em;
  padding: 0.5em;
}

.portfolios--types {
  display:flex;
  border-radius: 15%;
}

.portfolios--types img {
   max-width: 350px;
   max-height: 400px;
   margin-right: 1em;
   margin-top: -1.25em;
   border-radius: 20px;
}
.agriculture {
  width:100%;
  background-color: whitesmoke;
  border-radius: 20px;
  margin: 0.30em;
}

.transportation {
  width:100%;
  background-color: whitesmoke;
  margin: 0.30em;
  border-radius: 20px;
}

.real_estate {
  width:100%;
  background-color: whitesmoke;
  margin: 0.30em;
  border-radius: 20px;
}

.agriculture h2  {
  margin-top: 1.50em;
}

.partnership {
  display:flex;
  width:100%;
}

.partnership__body {
  width:50%;
  margin: 1em;
  padding: 0.5em;
}

.partnership__img {
  width: 100%;
  margin: 1em;
  padding: 0.5em;
  text-align: center;
}

.partnership__body .p__title {
  color: rgb(132, 130, 238);
  font-size: 2.5em;
  padding-left: 1em;
}

.partnership__body .p__card {
  font-size: 1.5em;
}

.partnership__img img {
  max-width: 500px;
  max-height: 700px;
}

.footer {
 width: 100%;
 margin-top: 8px;
 line-height: 1rem;
 background-color: blue;
 color: white;
}

.footer__upper{
  display: flex;
  text-align: center;

}

.upper--Faqs {
  width:20%;
  padding: 0.05em;
  margin-left: 1.5em;
}

.upper--investments {
  width:20%;
  padding: 0.05em;

}
.upper--socials {
  width:30%;
  padding: 0.05em;

}

.upper--socials img {
  max-width:20px;
  max-height: 20px;
  padding:3px;

}

.vendors img {
  width:30%;
  background-color: white;
  padding:3px;
  margin-right: 5px;
  margin-top: 10px;
}

.footer__lower {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
