<section class= "container">
    <nav class="navbar">
      <a class="navbar__logo  link dim" href="#">
        <img src="/assets/logblack-edit.png"  alt="Site Name">
      </a>
      <div class=" navbar__contact" id="myNavbar">
        <a class="navbar__icon link dim" href="#">Invest</a>
        <a class="navbar__icon link dim " href="#">How it Works</a>
        <a class="navbar__icon link dim" href="#">Contact Us</a>
        <a class="navbar__icon btn link dim" href="#">Log in</a>
        <a class="navbar__icon button link dim" href="#">Sign up</a>
        <a href="javascript:void(0);" class="toggler" (click)="toggleButton()">
          <fa name="align-justify"></fa>
        </a>
      </div>
    </nav>

    <div class='gap'></div>

    <section class="landing">
      <div class="landing--inner">
        <h2 class="">
          The
          <span>smarter</span>
          way
          <br>
          to invest?
        </h2>
          <p>VERSA is an investment platform built to help increase <br>
          earning potential. We invest in innovative and<br>
          well researched alternative investment portfolios <br>
          to help grow your funds.<br>
          <a class="button" href="#0">Get Started</a>
      </div>
      <div class="landing--outer dtc-ns">
        <img src="/assets/home-image.svg" alt="Home Image">
      </div>
    </section>

    <section class="whyVersa">
      <div class="whyVersa__intro">
        <h2>Why Versa?</h2>
        <h3>
          At VERSA, We have come to recognize that middle income earners find it hard to invest their minimal <br>
          savings,we provide viable opportunities that can grow their funds exponentially.
        </h3>
      </div>
      <div class="whyVersa__body">
        <div class="outline">
            <img src="/assets/target-icon.png" class="" alt="Site Name">
            <h5 class="title">Plan your Financial Target</h5>
            <p class="card-text">Gain access to numerous portfolios, <br>
              providing different opportunities<br>
              that fits your financial goals..
            </p>
          </div>

          <div class="outline">
            <img src="/assets/invest-icon.png" class="" alt="Site Name">
            <h5 class="title">Choose your Investment</h5>
            <p class="card-text">Gain access to numerous portfolios, <br>
              providing different opportunities<br>
              that fits your financial goals.
            </p>
          </div>

          <div class="outline">
            <img src="/assets/icon-realtime.png" class="" alt="Site Name">
            <h5 class="title">Real-Time Insights on Investment activity</h5>
            <p class="card-text">Our cutting-edge technology monitors<br>
              your investments, and provides real-time<br>
              insights to monitor your gains..
            </p>
          </div>
      </div>

    </section>

    <section class="investment">
        <div class='investment__body'>
          <img src="/assets/circle-icon.svg" alt="Site Name">
          <span class="investment__title">Sign Up</span>
          <p class="investment__card"> Sign up for free! No hidden fees and enjoy <br>
            unlimited investment opportunities.
          </p>

          <img src="/assets/circle-icon.svg" alt="Site Name">
          <span class="investment__title">Start your investment plan</span>
          <p class="investment__card">  Select preferred investment portfolios that <br>
            fits your financial goals..
          </p>

          <img src="/assets/circle-icon.svg" alt="Site Name">
          <span class="investment__title">Monitor Funds</span>
          <p class="investment__card">  Track your investments and monitor your <br>
            funds growth in real time.
          </p>
        </div>
        <div class='investment__img'>
          <img src="/assets/presentation.png" alt="Site Name">
        </div>
    </section>

    <section class="portfolios">
      <header>Choose your investment portfolio</header>
      <div class="portfolios--types">
        <div class="real_estate">
          <div class='real_estate__img'>
            <img src="/assets/real-estate.jpeg" alt="Site Name">
          </div>
          <div>
              <h2>Real Estate</h2>
              <p>The current economic situation requires you to have a minimum of $20,000 before you can invest in Real Estate portfolios.
                Our unique real-estate portfolios don't require you to commit such huge capital before owning a stake in viable and high-yielding real estate opportunities across Africa.
                We are committed to providing cheap and affordable housing to middle-income earners within Africa.
              </p>
            </div>
            <a class="button" href="#0">Invest Now</a>

        </div>
        <div class="transportation" >
          <div class='transportation__img'>
            <img src="/assets/transportation.jpeg" alt="Site Name">
          </div>
          <div>
              <h2>Transportation</h2>
              <p>With a population of almost 200 million people and very limited transportation options to move from one place to another, the transport segment is largely untapped
                with opportunities rife enough to ease the dire movement situation across the country while also creating jobs. Join our list of growing transportpreneurs by investing
                in high-yielding land, air and water transport investment portfolios.
              </p>
            </div>
            <a class="button" href="#0">Invest Now</a>

        </div>
        <div class="agriculture">
          <div class='agriculture__img'>
            <img src="/assets/agriculture.jpeg" alt="Site Name">
          </div>
          <div>
            <h2>Agriculture</h2>
            <p>Agriculture is Nigeria's fastest growing sector with both individuals and large corporations making investment stakes in available
                cash-crop, food-crop, plantation-crop, fisheries, animal husbandry, food production and processing opportunities. At versa.ng,
                you are just a click away from gaining access to a wide range of agriculture portfolios to invest your funds and sit back to reap substantial returns.
              </p>
          </div>
          <a class="button" href="#0">Invest Now</a>

        </div>

      </div>
    </section>

    <section class="partnership">
      <div class='partnership__body'>
      <span class="p__title">Why Partner with us?</span>
      <p class="p__card"> We have a team of seasoned investment analysts committed to exploring and
        providing you with alternative investment opportunities.
      </p>
      <p class="p__card"> Every portfolio is well researched and your funds diligently managed in a way that provides
          a balanced investment mix that suits your financial goal.
      </p>
      <a class="button" href="#0">Join Us</a>
      </div>
      <div class='partnership__img'>
        <img src="/assets/partner01.svg" alt="Site Name">
      </div>
    </section>

    <section class="footer">
      <div class="footer__upper">
        <div class="upper--Faqs">
          <h5>About Us</h5>
          <h6>Our Team</h6>
          <h6>Careers</h6>
          <h6>FAQs</h6>
        </div>
        <div class="upper--investments">
          <h5>Investment</h5>
          <h6>Real Estate</h6>
          <h6>Transportation</h6>
          <h6>Agriculture</h6>
        </div>
        <div class="upper--socials">
          <h5>Connect with us</h5>
          <a href="https://www.facebook.com/VersaNigeria/"><img src="/assets/svg/facebook.svg" target="_new" alt="Site Name"></a>
          <a href="https://www.instagram.com/versanigeria/"><img src="/assets/svg/instagram.svg" target="_new" alt="Site Name"></a>
          <a href="https://www.twitter.com/VersaNigeria/"><img src="/assets/svg/twitter.svg" target="_new" alt="Site Name"></a>
          <a href="https://www.whatsapp.com/versanigeria/"><img src="/assets/svg/whatsapp.svg" target="_new" alt="Site Name"></a>
        </div>
        <div class='vendors'>
          <img src="/assets/paystack2.png" alt="Site Name">
        </div>
      </div>

      <div class="footer__lower">
        <div class="contact">
        <span>Privacy Policy | Terms of use | Contact Us</span>
        </div>
        <div class="copyright">
          <img src="/assets/copyright.svg" alt="Site Name">
          <span> 2019 Versa Ng. All rights reserved</span>
        </div>
      </div>
    </section>

</section>
