.navbar {
  box-sizing: border-box;
  background-color: white;
  display: block;
  width: 100%;
  padding: 1rem;
}

.navbar__logo img {
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  color: #555;
  width: 50%;
  text-align: center;
  height: 4rem;
}

.navbar__contact {
  display: inline-block;
  vertical-align: middle;
  color: #555;
  width: 50%;
  margin-bottom: .5rem;
  text-align: center;
}

.navbar__icon {
  color: blue;
  margin-right: 1rem;
  font-size: .875rem;
  display: inline-block;
}

.navbar__icon btn {
  border-radius: 9999px;
  border-color: #000000;
  border-width: solid;
  cursor: pointer;
}

.navbar__icon button {
  border-radius: 9999px;
  background-color: rgb(132, 130, 238);
  color: white;
}

.br-100 {
  border-radius: 100%;
}


.link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link, .link:visited {
  transition: color .15s ease-in;
}

.link:hover {
  transition: color .15s ease-in;
}

.link:active {
  transition: color .15s ease-in;
}

.link:focus {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}


.dim {
  opacity: 1;
  transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
}

.dim:active {
  opacity: .8;
  transition: opacity .15s ease-out;
}

@media screen and (min-width: 60em) {
  .dt-l {
      display: table;
  }

  .dtc-l {
      display: table-cell;
  }

  .w-25-l {
      width: 25%;
  }

  .w-75-l {
      width: 75%;
  }

  .ph5-l {
      padding-left: 4rem;
      padding-right: 4rem;
  }

  .mr4-l {
      margin-right: 2rem;
  }

  .mb0-l {
      margin-bottom: 0;
  }

  .tl-l {
      text-align: left;
  }

  .tr-l {
      text-align: right;
  }

  .f5-l {
      font-size: 1rem;
  }
}


  .landing--inner {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
    text-align: left;
    vertical-align: middle;
}

.landing--inner h2 {
   font-size: 4em;
   color: rgb(132, 130, 238);
}

.landing .landing--inner h2 span {
  color: gray;
}

.landing--inner h4 {
  font-family: Helvetica;
  font-size: 1.125em;
  font-weight: bold;
  padding: 2px;

}

  .landing--outer {
      background-color: white;
      padding-top: 2rem;
      padding-bottom: 2rem;
      text-align: center;
  }

  @media screen and (min-width: 30em) {
      .dt-ns {
          display: table;
      }

      .dtc-ns {
          display: table-cell;
      }

      .dt--fixed-ns {
          table-layout: fixed;
          width: 100%;
      }
  }

  .button {
    border-radius: 9999px;
    display: inline-block;
    background-color: rgb(132, 130, 238);
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: .5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform .25s ease-out;
  }

  .img--landing {
    max-width: 700px;
    max-height: 500px;
    display: inline-block;
  }

  p {
    margin: 2px;
    padding: 0.5em;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }


  a,
  a:visited,
  a:hover {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }


  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }




  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

