<nav class="navbar dt-l ph5-l">
  <a class="navbar__logo  dtc-l link dim w-25-l tc tl-l mb0-l" href="#">
    <img src="/assets/logblack-edit.png" class="dib" alt="Site Name">
  </a>
  <div class=" navbar__contact dtc-l w-75-l tr-l">
    <a class="navbar__icon link dim  f5-l mr4-l" href="#">Invest</a>
    <a class="navbar__icon link dim  f5-l mr4-l" href="#">How it Works</a>
    <a class="navbar__icon link dim  f5-l mr4-l" href="#">Contact Us</a>
    <a class="navbar__icon btn link dim  f5-l mr4-l" href="#">Log in</a>
    <a class="navbar__icon button link dim f5-l" href="#">Sign up</a>
  </div>
</nav>

<section class="landing dt-ns dt--fixed-ns">
  <div class="landing--inner dtc-ns">
    <h2 class="">
      The
      <span>smarter</span>
      way
      <br>
      to invest?
    </h2>
    <h4>
      <p>VERSA is an investment platform built to help increase </p>
      <p>earning potential. We invest in innovative and</p>
      <p>well researched alternative investment portfolios </p>
      <p>to help grow your funds.</p>
    </h4>
      <a class="button" href="#0">Get Started</a>
  </div>
  <div class="landing--outer dtc-ns">
    <img src="/assets/home-image.svg" class="img--landing" alt="Home Image">
  </div>
</section>

<section class="whyVersa">
  <div class="whyVersa__intro">
    <h2>Why Versa?</h2>
    <h3>
      At VERSA, We have come to recognize that middle income earners find it hard to invest their minimal <br>
      savings,we provide viable opportunities that can grow their funds exponentially.
    </h3>
  </div>
  <div class="whyVersa__body">
    <div class="outline">
        <img src="/assets/target-icon.png" class="" alt="Site Name">
        <h5 class="title">Plan your Financial Target</h5>
        <p class="card-text">Gain access to numerous portfolios, <br>
          providing different opportunities<br>
          that fits your financial goals..
        </p>
      </div>

      <div class="outline">
        <img src="/assets/invest-icon.png" class="" alt="Site Name">
        <h5 class="title">Choose your Investment</h5>
        <p class="card-text">Gain access to numerous portfolios, <br>
           providing different opportunities<br>
           that fits your financial goals.
        </p>
      </div>

      <div class="outline">
        <img src="/assets/icon-realtime.png" class="" alt="Site Name">
        <h5 class="title">Real-Time Insights on Investment activity</h5>
        <p class="card-text">Our cutting-edge technology monitors<br>
          your investments, and provides real-time<br>
          insights to monitor your gains..
        </p>
      </div>
  </div>

</section>
